<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">

      <nav class="navbar navbar-expand-lg">
        <%= link_to 'LanguageDB', root_path, :class => 'navbar-brand' %>

        <%= link_to 'Home', root_path, :class => 'navbar-text' %>
        <%= link_to 'Languages', languages_path, :class => 'navbar-text' %>
        <%= link_to 'Countries', countries_path, :class => 'navbar-text' %>
        <%= link_to 'Language Families', language_families_path, :class => 'navbar-text' %>
        <%= link_to 'Writing Systems', writing_systems_path, :class => 'navbar-text' %>
        <% if @current_user.present? %>
          <%= link_to 'Sign Out', login_path, :method => 'delete' %>
          <% if @current_user.admin? %>
            <%= link_to 'Admin', new_user_path %>
            <%= link_to 'Add Language', new_language_path %>
            <%= link_to 'Add Countries', new_country_path %>
            <%= link_to 'Add Writing Systems', new_writing_system_path %>
            <%= link_to 'Add Language Family', new_language_family_path %>
          <% end %>
        <% end %>

      </nav>

      <%= flash[:error] %>

      <%= yield %>

    </div>

  </body>
</html>
